<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
				<h1 class="title">Editar Tuite</h1>
				<%= render 'form', tuite: @tuite %>
			</div>
		</div>
	</div>
</div>
